/*
 * Tags
 */

:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
    background-image: url('/images/halloween_background_1.gif');
    width: 95vmin;
    margin: 0 auto;
    font-size: calc(8px + 1vmin);
}

pre {
    white-space: pre-wrap;
}

/*
 * Simple classes
 */

.site-title {
  text-align: center;
  border: outset;
  background-color: #C2B3A9;
  padding: 0.5em 0;
}

.site-footer {
  text-align: center;
  border: outset;
  background-color: #C2B3A9;
  padding: 0;
  margin: 1em 0;
}

.page-title {
  text-align: center;
  border: inset;
  padding: 0.5em 0;
  background-color: #A59990;
}

.site-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0.25em;
  border: outset;
  padding: 0.5em 0.25em;
  background-color: #C2B3A9;
}

.site-nav > a {
  border: outset;
  flex: 1;
  padding: 0 0.5em 0 0.5em;
  background-color: #8C97A8;
}

.field-with-info {
    border-style: solid;
    border-color: green;
}

.field-with-error {
    border-style: solid;
    border-color: red;
}

/*
 * Nested/layered classes
 */

.pager {
  display: flex;
  flex-direction: column;
  /* border: dashed; */
  gap: 1em;
  padding: 0.5em 0;
}

.pager__nav {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  border: inset;
  background-color: #A59990;
  padding: 0.5em 0.25em;
  gap: 0.25em;
}

.pager__nav > a {
  border: outset;
  flex: 1;
  /* border-bottom-style: none; */
  text-align: center;
  background-color: #8C97A8;
}

.pager__nav > a[rel="self"] {
  border-style: inset;
  background-color: #696F80;
}

.post {
  background-color: #C2B3A9;
  border: outset;
}

.post__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #5B90A4;
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0.75em;
  align-items: center;
  border: inset;
}

.post__id {
  border: outset;
  padding: 0.25em;
  background-color: #999999;
}

.post__date, .post__author, .post__body {
  margin: 1em 0.5em;
  padding: 0.25em 0.5em;
}

.post--remark__date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #5B90A4;
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0.75em;
  align-items: center;
  border: inset;
}

.post__body {
    background-color: #A59990;
    border: inset;
}

.post__nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 0 1em 0.5em 1em;
  gap: 0.5em;
  align-items: center;
}

.post__nav > a {
  flex: 1 0;
  text-align: center;
  border: outset;
  padding: 0.25em 0;
  white-space: nowrap;
  background-color: #8C97A8;
}
