.field-with-info {
    border-style: solid;
    border-color: green;
}

.field-with-error {
    border-style: solid;
    border-color: red;
}

.thread, .remark, .field-with-error, .field-with-info {
    border-style: dotted;
    border-collapse: collapse;
}

.thread .id, .remark .id, .thread .flag, nav .login {
    float: right;
}

.thread .body, .remark .body {
    white-space: pre-wrap;
}

/*
 * For the custom Markdown <h1> - <h6>
 */

span.head1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

span.head2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

span.head3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

span.head4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
 }

span.head5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
 }

span.head6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
