.field-with-info {
    border-style: solid;
    border-color: green;
}

.field-with-error {
    border-style: solid;
    border-color: red;
}

.thread, .remark, .field-with-error, .field-with-info {
    border-style: dotted;
    border-collapse: collapse;
}

.thread .id, .remark .id {
    float: right;
}

.thread .body, .remark .body {
    white-space: pre-wrap;
}
