/*
 * Tags
 */

:root {
    --light-warm-gray: #C2B3A9;
    --dark-warm-gray: #A59990;
    --teal: #5B90A4;
    --light-blue: #8C97A8;
    --dark-blue: #696F80;
    --true-gray: #999999;
    --highlight-green: green;
    --highlight-red: red;

    box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
    background-image: url('/images/background2.gif');
    width: 95vmin;
    margin: 0 auto;
    font-size: calc(8px + 1vmin);
}

code {
    background-color: black;
    color: white;
    font-size: 0.75em; /* Why tho?? */
}

pre > code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
}

/*
 * Simple classes
 */

.site-title {
  text-align: center;
  border: outset;
  background-color: var(--light-warm-gray);
  padding: 0.5em 0;
}

.site-footer {
  text-align: center;
  border: outset;
  background-color: var(--light-warm-gray);
  padding: 0;
  margin: 1em 0;
}

.site-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0.25em;
  border: outset;
  padding: 0.5em 0.25em;
  background-color: var(--light-warm-gray);
}

.site-nav > a {
  border: outset;
  flex: 1;
  padding: 0 0.5em 0 0.5em;
  background-color: var(--light-blue);
}

.page-title {
  text-align: center;
  border: inset;
  padding: 0.5em 0;
  background-color: var(--dark-warm-gray);
}

.page-body {
  background-color: var(--light-warm-gray);
  border: outset;
  padding: 0.5em 1em;
}

.field-with-info {
    border-style: solid;
    border-color: var(--highlight-green);
}

.field-with-error {
    border-style: solid;
    border-color: var(--highlight-red);
}

/*
 * Nested/layered classes
 */

.pager {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}

.pager__nav {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  border: inset;
  background-color: var(--dark-warm-gray);
  padding: 0.5em 0.25em;
  gap: 0.25em;
}

.pager__nav > a {
  border: outset;
  flex: 1;
  text-align: center;
  background-color: var(--light-blue);
}

.pager__nav > a[rel="self"] {
  border-style: inset;
  background-color: #696F80;
}

.post {
  background-color: var(--light-warm-gray);
  border: outset;
}

.post__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--teal);
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0.75em;
  align-items: center;
  border: inset;
}

.post__id {
  border: outset;
  padding: 0.25em;
  background-color: var(--true-gray);
}

.post__date, .post__author, .post__body {
  margin: 1em 0.5em;
  padding: 0.25em 0.5em;
}

.post--remark__date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--teal);
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0.75em;
  align-items: center;
  border: inset;
}

.post__body {
    background-color: var(--dark-warm-gray);
    border: inset;
}

.post__nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 0 1em 0.5em 1em;
  gap: 0.5em;
  align-items: center;
}

.post__nav > a {
  flex: 1 0;
  text-align: center;
  border: outset;
  padding: 0.25em 0;
  white-space: nowrap;
  background-color: var(--light-blue);
}
