.field-with-error {
    border-style: solid;
    border-color: red;
}

.thread, .remark, .field-with-error {
    border-style: dotted;
    border-collapse: collapse;
}

.thread .id, .remark .id {
    float: right;
}
